body{
    background-color: red;
}
/* hero */

.hero{
    height: calc(90vh - 5rem);
    margin-top: 5rem;
    gap: 5rem;

    .hero__image{
     width: 60vw;
    }
}
/* about 1st content */
.about__wrapper{
    display: flex;
    flex-flow: column nowrap;
    /* overflow: hidden; */
    gap: 1rem;
    /* color: white; */
    .about__description{
        text-align: center;
        padding: 2rem;
        width: fit-content;
    }
}

.about .about__wrapper--glasmorphism{
    margin-top: 4rem;
        width: 80%;


}

.about .about__scroller {
    width: 100%;
    overflow: hidden;
    -webkit-mask: linear-gradient(transparent 0%, white 20%, white 60%, transparent);
    mask: linear-gradient(to right, transparent 20%, white 50%, white 50%, transparent 80%);
}

.about__scroller--inner {
    display: flex;
    flex-flow: row nowrap ;
}

.about__scroller--inner img {
    width: 100px;
    height: 100%;
}

@keyframes scroll {
        to{
            transform: translateX(-50%);
        }

    }

/* about 2nd content */
.about__content {
    margin: 0;
    padding: 1rem 0;
    .about__item{
        flex-flow: column nowrap;
        text-align: center;


        .about__item-text{
            gap: 1rem;
        }
    }
}

/* buttons position */
.wrapper__content{
    .btn__slider{
        top: 70%;
    }
}


/* menu hamburger */
.toggle__label {
    display: block;
    position: fixed;
    z-index: 1000;
    top: 25px;
    right: 25px;
    cursor: pointer;
    img{
        filter: invert(1) drop-shadow(0 0 10px rgba(239, 238, 238, 0.46));;
        aspect-ratio: 1/1;
        width: 2rem;
        transition: all 0.3s ease-in-out;
    }

    img:nth-child(2){
        display: none;
        width: 3rem;
        margin-right: -8px;
    }
}
.menu__toggle {
    display: none;
}

.menu__toggle:checked ~ .toggle__label img:nth-child(1) {
    display: none;
}
.menu__toggle:checked ~ .toggle__label img:nth-child(2) {
    display: block;
}

.menu__toggle:checked ~ .header__nav {
    display: flex;
    flex-flow: column nowrap;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    background-color: rgba(247, 247, 247, 0.025);
    padding: 1rem;
    z-index: 999;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

.header__nav {
    display: none; /* Initially hidden */
    transform: translateX(100%); /* Hidden off-screen */
}

.menu__toggle:checked ~ .header__nav {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    transform: translateX(0); /* Slide into view */
}

.header__nav .header__links{
    flex-flow: column nowrap;
    gap: 2rem;
    padding: 1rem 0;
    list-style: none;
    margin: 0;
    .header__link{
        font-size: clamp(1.5rem, 2vw, 2rem);
        font-weight: 400;
        letter-spacing: clamp(5.3px, 0.5vw, 8px);
        color: rgb(var(--secondary-links-color));
        filter: drop-shadow(0 0 4.8px rgb(var(--secondary-links-color)));
        text-align: center;
        &:hover{
            color: rgb(var(--main-font-color));
        }
    }
}


.header__beta-tester{
    .header__beta-link{
        font-size: 1.4rem !important;

    }

}
