@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Syne:wght@400..800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --main-background-color: 12 12 34; /*#0C0C22*/
    --secondary-links-color: 85 166 217; /*#55A6D9*/
     --special-cta-color: 255 159 85 ; /*#FF9F55*/
    --main-font-family: "Saira", sans-serif;
    --secondary-font-family: "Syne", sans-serif;

    --main-font-color: 255, 255, 255; /*#FFFFFF*/
    --secondary-font-color: 30 29 64; /*#1E1D40*/
} 

a{
    text-decoration: none;
    color: inherit;
}

body, html{
    width: 100%;
}
body {
    overflow-x: hidden;
    font-family: var(--main-font-family);
    background-color: rgb(var(--main-background-color));
    color: rgb(var(--main-font-color));
    line-height: 1.5;
    font-size: 1rem;
    position: relative;
   
}

body.is-ios {
  background-color: green;
}

.background-layer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url('../Assets/Nebula-optimized.png');
  background-size: cover;
  background-position: center;
  z-index: -3; /* stays behind your content */
  pointer-events: none; /* allows clicks through to content */
}

.background-layer::after {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background: rgba(0, 0, 0, 0); /* darken the image */
}



main{
    
    overflow: hidden;
    position: relative;
}

.header{
    width: 100%;
}

.header__nav{
    z-index: 99998;
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1rem 1rem;
    background-color: rgba(var(--main-font-color),0.05);
    backdrop-filter: blur(8px);
    border-bottom: 1px solid rgba(var(--main-font-color),0.10);


    .header__links{
        display: flex;
        align-items: center;
        gap: clamp(1rem,2vw,2rem);
        list-style: none;

        .header__logo{
            img{
                aspect-ratio: 1/1;
                width: 56px;
            }
        }

        .header__link{
            font-family: var(--secondary-font-family);
            font-size: clamp(0.8rem, 1.5vw, 1rem);
            font-weight: 400;
            letter-spacing: clamp(5.3px, 0.5vw, 8px);
            color: rgb(var(--secondary-links-color));
            filter: drop-shadow(0 0 4.8px rgb(var(--secondary-links-color)));

            &:hover{
                color: rgb(var(--main-font-color));
            }
        }

        .header__link--active{
                color: rgb(var(--main-font-color));
            }
    }

    .header__beta-tester{

        .header__beta-link{
            filter: drop-shadow(0 0 1px rgb(var(--special-cta-color)));
            border: 1px solid rgb(var(--special-cta-color));
            letter-spacing: clamp(2px, 0.5vw, 4.16px);
            padding: 0.1rem 0.3rem;
            font-weight: bolder;
            font-size: clamp(0.8rem,2vw,1.5rem);
            font-family: var(--secondary-font-family);
            color: rgb(var(--special-cta-color));
            transition: grayscale 0.5s ease-in-out;

        }

        .header__beta-link:hover{
            filter: grayscale(0.5) brightness(1.2) 
        }
    }
}

.toggle__label {
    display: none;
}
.menu__toggle {
    display: none;
}
.hero{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    gap: 5.8rem;
    .hero__title{
        margin-top: 4rem;
        margin-left: -2vw;
        font-size: clamp(3.4rem,15vw,11.2rem);
        font-weight: 800;
        background: radial-gradient(circle at 30%,#6E6BBF 31%,#FFC857 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(3 7 10px rgba(0, 0, 0, 0.203));

        margin-bottom: -8%;
    }

    .hero__image{
        aspect-ratio: 1/1;
        width: clamp(100px,30vw,1000px);

    }
}

.about{
    display: flex;
    flex-flow: column nowrap;
    

    .about__wrapper--glasmorphism{
        margin-top: 4rem;
        align-self: center;
        background-color: rgba(var(--main-font-color),0.01);
        backdrop-filter: blur(5px);
        border: 1.5px solid rgba(var(--main-font-color),0.2);
        border-radius: 3px;
        width: 60%;
        box-shadow:0 0px 30px rgba(69, 78, 197, 0.37);

    }

    .about__scroller{
        max-height: 300px;
        overflow: hidden;
        -webkit-mask: linear-gradient(transparent 0%, white 20%, white 80%, transparent);
        mask: linear-gradient(transparent 10%, white 50%, white 60%, transparent 90%);

       

        
    
    }
    
    
}
.about__wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4rem 0;
        /* background-color: white; */
        gap: 2rem;

        .about__description{
            color: rgb(var(--main-font-color));
            font-size: clamp(0.8rem,2vw,1.5rem);
            font-weight: 400;
            filter: drop-shadow(3 7 10px rgba(0, 0, 0, 0.203));
            padding-right: 2rem;
            width: 50ch;
        }

        
    }
.about__scroller--inner{
            display: flex;
            width: fit-content;
            flex-flow: column nowrap;
            animation: scroll 30s linear infinite;
            img{
                aspect-ratio: 1/1;
                width: 100%;
                filter: invert(1);
            }
        }

@keyframes scroll {
        to{
            transform: translateY(-50%);
        }

    }

/* side btns logic */
.wrapper__content{
    overflow: hidden; /* Hide items outside the visible area */
    position: relative;
    z-index: 1; /* Ensure the container is above other elements */

    .btn__slider{
        all: unset;
        cursor: pointer; /* Ensures the pointer changes to a hand icon */
        position: absolute;
        top: 55%;
        transform: translate(0%, -50%);
        z-index: 10; /* Ensure buttons are above other elements */
        transition: all 0.4s ease-in-out;

        img{
            aspect-ratio: 1/1;
            width: clamp(1.2rem, 5vw,3rem);      
          }
    }

    .btn__slider:hover{
        scale: 1.1;
    }

    .btn__slider--left{
        cursor: pointer;
        left: 2%;

    }


    .btn__slider--right{
        cursor: pointer;
        right: 2%;
    }

    
}

.wrapper__outside{
    -webkit-mask: linear-gradient(to right, transparent 0%, white 25%, white 80%, transparent);
    mask: linear-gradient(to right, transparent 0%, white 25%, white 80%, transparent);
}

.about__content {
    width: 100vw; /* Full width of the viewport */
    margin-top: 2rem;
    display: flex;
    align-items: center;
    position: relative;
    transition: transform 1s ease-in-out; /* Smooth sliding effect */
    will-change: transform; /* Optimize performance for transform changes */

    
    .about__item{
        flex: 0 0 100%; /* Each item takes the full width of the container */
        display: flex;
        justify-content: center;
        align-items: center;
        gap: clamp(0.2rem,1vw,1rem);
        width: 100%; /* Ensure all items have the same width */
        box-sizing: border-box; /* Include padding and border in the width calculation */

        .about__item-text{
            display: flex;
            flex-flow: column nowrap;
            width: clamp(21ch, 50vw,60ch);

            .about__item-title{
                font-size: clamp(1.3rem, 2vw,3rem);
                color: rgb(var(--main-font-color));
                font-weight: 800;
                text-shadow: 0 5px 2px rgba(0, 0, 0, 0.277);
            }

            .about__item-description{
                font-size: clamp(0.8rem,2vw,1.5rem);
                color: rgb(var(--main-font-color));
                font-weight: 400;
                text-shadow: 0 6px 5px rgba(0, 0, 0, 0.507);
            }
        }


        .about__item-img{
            filter: invert(1) drop-shadow(0 8px 3px rgba(0, 0, 0, 0.567));
            aspect-ratio: 1/1;
            width: 30%;
        }
    }

}

.roadmap{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-bottom: 170px;

    h2{
        font-size: clamp(3.4rem,15vw,11.2rem);
        font-weight: 800;
        padding: 2rem 0;
        background: radial-gradient(circle at 30%,#6E6BBF 31%,#FFC857 100%);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        filter: drop-shadow(0 10px 5px rgba(0, 0, 0, 0.342));
    }

    svg{
        margin-left: 5%;
        height: fit-content;
        width: 25vw;
        min-width: 400px;
    }
}


.roadmap__content{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;

}

.cards__wrapper{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 2rem;
    top: 0;
    left: 0;
    /* background-color: #ffc75706; */
    width: 100%;
    height: 100%;
    position: absolute;
    color: rgb(var(--main-font-color));
    font-family: var(--main-font-family);
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.225);
}

.card{
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
    justify-content: center;
    transform: translateY(-50%);
    background-color: rgba(var(--main-font-color),0.1);
    border: 2px solid rgba(var(--main-font-color),0.2);
    border-radius: 5px;
    backdrop-filter: blur(20px);
    width: clamp(25ch,31vw,50ch);
    padding: 12px;
    box-shadow:0 0px 30px rgba(69, 78, 197, 0.37);


    div{
        display: flex;
        justify-content: space-between;

        h4{
            font-weight: 450;
            font-size: 0.6rem;
            
        }
    }

    h3{
        font-size: clamp(0.65rem,1.2vw,1.5rem);
        white-space: nowrap;
    }
    p{
        font-weight: 300;
        font-size: clamp(0.7rem,1vw,1rem);
    }
}

.card--current{
    box-shadow:0 0px 30px rgba(192, 3, 195, 0.478);
}
/* transition background color */
.transition_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
    z-index: 10000;
    margin-bottom: 50%;
}

.door__img {
    display: block;
    width: clamp(200px,45vw,500px);
    filter: drop-shadow(0px 0px 20px rgba(7, 247, 231, 0.8));
    cursor: pointer;
}

.spiral__img {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%, -50%);
    width: 5%;
    pointer-events: none;
}


.test__form{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100vw;
    background-color: rgb(var(--main-background-color)); 
}

.form_wrapper{
    padding: 15px;
    width: clamp(300px,90vw,800px);
    background: linear-gradient(to bottom, rgba(110, 107, 191, 0.8) 31%, rgba(255, 200, 87, 0.8) 100%
    );
    border-radius: 5px;
    color: rgb(var(--main-background-color));
    display: flex;
    flex-flow: column nowrap;

    h2{
        text-align: center;
        font-size: clamp(1.9rem,5vw,4rem);
        filter: url(#inner-shadow);
    }

    form{
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        gap: 5px;

        label{
            width: clamp(200px,35vw,500px);
            font-size: clamp(0.5rem, 4vw, 1.2rem);
            letter-spacing: 8%;
            font-family: var(--secondary-font-family);
            font-weight: bold;
            opacity: 0.8;
        }

        input{
           width: clamp(200px,35vw,500px);
        }

        input[type="text"], input[type="email"]{
            height: 2.5rem;
            background-color: rgba(var(--main-background-color), 0.08);
            border-radius: none;
            border: none;
            outline: none;
            box-shadow: inset 0px 4px 15px 2px rgba(0, 0, 0, 0.2);
            box-shadow: inset 0px 4px 15px 2px rgba(0, 0, 0, 0.2);
            
        }

        input[type="text"]:focus, input[type="email"]:focus{
            outline: 2px solid rgb(var(--main-background-color));
        }

        input[type="email"]{
            margin-bottom: 15px;
        }
    }

    

    input[type="submit"]{
        all: unset; /* Resets everything – full control */
        height: fit-content;
        text-align: center;
        font-size: clamp(1.5rem, 5vw, 2.5rem);
        background-color: rgb(var(--main-background-color));
        width: clamp(150px,20vw,400px);
        color: #FF9F55;
        font-weight: bold;
        text-shadow:
            0px 1px 1px rgba(0, 0, 0, 0.3),
            0px -1px 1px rgba(0, 0, 0, 0.3),
            1px 0px 1px rgba(0, 0, 0, 0.3),
            -1px 0px 1px rgba(0, 0, 0, 0.3),
            0px 2px 5px rgba(0, 0, 0, 0.5); /* outer glow */

        border-radius: 5px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
            box-shadow: inset 0 0px 0px 2px rgb(255, 230, 0);
        }
    }
}